# ================= CONFIGURACIÓN INTEGRAL NODE.JS HOSTINGER =================
PassengerEnabled on
PassengerAppType node
PassengerStartupFile app.js

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app.js/$1 [QSA,L]
